<template name="cardOnCampusInSpecificTime">
  <div class="currentcard col-xs-12">
    <div class="col-md-9">
      <h2>({{scans_in_specific_time.length}}) On Campus During</h2>
      <h3>{{view_startdate}} To {{view_enddate}} </h3>
      <table id="tbl_card_on_campus_in_specific_time" class="table dataTable no-footer">
        <thead>
          <tr>
            <th>Barcode</th>
            <th>Name</th>
            <th>Type</th>
            <th>Entered Date</th>
            <th>Exited Date</th>
            <th>Scanner</th>
          </tr>
        </thead>
        <tbody>
          {{#each scans_in_specific_time}}
          <tr>
            {{#with getCardByBarcode cardnumber}}
              <td>
                <td><strong><a href="card-scanned/{{barcode}}">{{barcode}}</a></strong></td>
              </td>
              <td>
                {{name}}
              </td>
              <td>
                {{type}}
              </td>
            {{/with}}
            <td>{{formatDate scantimes.[0]}}</td>
            <td>{{formatDate scantimes.[1]}}</td>
            <td>{{user}}</td>
          </tr>
          {{else}}
          <tr>
            <td colspan="6">There are no items in this list.</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      {{> filter_by_badge_type type=badge_type}}
      <form role="form" id="filter_by_date">
        <div class="form-group">
          <input type="datetime-local" name="startdate" class="form-control" value="" required/>
        </div>
        <div class="form-group">
          <input type="datetime-local" name="enddate" class="form-control" value="" required/>
        </div>
        <div class="form-group">
          <input type="submit" name="submit" value="Submit" class="btn btn-primary"/>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript">
    $(function(){
       $("#tbl_card_on_campus_in_specific_time").dataTable({
         "aaSorting": [],
         "bPaginate": true,
         "bLengthChange": true,
         "bFilter": true,
         "bSort": true,
         "bInfo": true
       });
     })
  </script>
</template>
