<template name="singleCardScanned">
  <div class="currentcard col-xs-12">
    <h2><strong>{{barcode}}-{{name}}</strong> Scan History</h2>
    <table id="tbl_scan_history" class="table dataTable no-footer">
      <thead>
        <tr>
          <th>Entered Date</th>
          <th>Exited Date</th>
          <th>Scanner</th>
        </tr>
      </thead>
      <tbody>
        {{#each scanneds barcode}}
        <tr>
          <td>{{formatDate scantimes.[0]}}</td>
          <td>{{formatDate scantimes.[1]}}</td>
          <td>{{user}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
    $(function(){
       $("#tbl_scan_history").dataTable({
         "aaSorting": [],
         "bPaginate": true,
         "bLengthChange": true,
         "bFilter": true,
         "bSort": true,
         "bInfo": true
       });
     })
  </script>
</template>
