<template name="expiresBadge">
  <div class="col-md-12" style="margin-bottom:20px; background:white;">
    <h3>Expires/Renews a Badge</h3>
    <table id="tbl_card_list" class="table dataTable no-footer">
      <thead>
        <tr>
          <th>Barcode</th>
          <th>Name</th>
          <th>Type</th>
          <th>Associations</th>
          <th>Expiry Date</th>
          <th>Expire/Renew</th>
        </tr>
      </thead>
      <tbody>
        {{#each badges}}
         <tr>
           <td><strong><a href="card/{{barcode}}">{{barcode}}</a></strong></td>
           <td>{{name}}</td>
           <td>{{type}}</td>
           <td>{{associations}}</td>
           <td>{{expires}}</td>
           {{#if is_expired expires}}
            <td>
              <label>Period (Month)</label>
              <input id="renew_period" type="number" name="renew_period" placeholder="1" class="form-control"/>
             <a><button class="btn btn-warning renew" data-id="{{_id}}">Renew</button></a></td>
             {{else}}
            <td><a><button class="btn btn-danger expires" data-id="{{_id}}">Expire</button></a></td>
           {{/if}}
         </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
    $(function(){
       $("#tbl_card_list").dataTable({
         "aaSorting": [],
         "bPaginate": true,
         "bLengthChange": true,
         "bFilter": true,
         "bSort": true,
         "bInfo": true
       });
     })
  </script>
</template>
