<template name="singleCard">
  <div class="col-md-12" style="background:white;">
    <h3>Card Detail</h3>
      <div class="col-md-6">
        <img style="width:200px; height:300px;" src="/StudentPhotos/{{profile}}"/><br>
      </div>
      <div class="col-md-6">
        <table class="tbl_single_card">
          <tr>
            <td>Barcode : </td>
            <td>{{barcode}}</td>
          </tr>
          <tr>
            <td>Name : </td>
            <td>{{name}}</td>
          </tr>
          <tr>
            <td>Type : </td>
            <td>{{type}}</td>
          </tr>
          <tr>
            <td>Associations : </td>
            <td>{{associations}}</td>
          </tr>
          <tr>
            <td>Expires : </td>
            <td>{{expires}}</td>
          </tr>
        </table>
        <a target="_blank" href="/print?barcode={{barcode}}&name={{name}}&type={{type}}&expires={{expires}}&profile={{profile}}">
          <button style="background:#488FCC; color:white;" id="btn_print_card" class="btn btn-primary">
            <strong>Print Card</strong>
          </button>
        </a>
      </div>
  </div>


</template>
