/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #918e82, #315481 100%);
  background-attachment: fixed;

  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 0;*/
}
.login-link-text{
  color: white;
}
#debug{

}
.scans{
  color:white;
  font-size: x-small;
}

header{
  /*margin: 15px;*/
}
.content{
  background: white;
  padding: 20px;
}
.tbl_single_card tr td, .tbl_single_card tr th{
  padding: 10px;
}
.bigphoto{
  margin-bottom: 1em;
}
.photo_scan{
  height: 180px;
  overflow: hidden;
  padding: 5px;
}
.miniphoto{
  overflow: hidden;
  padding: 5px;
  height: 75px;
}
.miniphoto:hover{
  cursor:crosshair;
}
.phototext{
  color:white;
  font-size: x-small;
  position: absolute;
  background-color: rgba(142, 141, 141, 0.75);
  width: 100%;
}
#cardname{
  margin-bottom: 0px;
  font-size: x-large;
}
#expires{
  font-style: italic;
  margin-bottom: 0px;
  font-size: x-large;
}
#cardnumber{
  margin-bottom: 0px;
  font-size: x-large;
}
#associations{

}

.currentcard{
  background-color: white;
  padding: 5px;
}
.enter{
  color: white;
  background-color: #367fa9;
}
.exit{
  color: white;
  background-color: #00a65a;
}
.invalid{
  color: white;
  background-color: #dd4b39;
}
.defaultstatus{
  color: white;
  background-color: #00aad4;
}
.card_expire{
  color: white;
  background: #f0ad4e;
}

/*admin*/
.invalid_card{
  background: #dd4b39;
  color: white;
  padding: 10px 0 10px 10px;
  font-size: 20px;
}
.admin_scan_out{
  background: #00a65a;
  color: white;
  padding: 10px 0 10px 10px;
  font-size: 20px;
}
.admin_scan_in{
  background: #367fa9;
  color: white;
  padding: 10px 0 10px 10px;
  font-size: 20px;

}
.overlay{
  opacity: 0.5;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
