<template name="scan">
  <li><strong>{{card}}</strong> - {{formatDate scannedAt}}:{{action}}</li>
</template>

<template name="card">
  <li>{{barcode}}</li>
</template>

<template name="association">
  <div class="col-xs-3" style="padding: 0;">
    <div class="photo_scan">
      {{#if get_association this}}
        {{#with get_association this}}
          {{#if profile}}
            <img title="photo" src="/static/{{profile}}" onerror="this.src='/static/NoImageAvailable.gif'" style="width:100%"/>
          {{else}}
            <img title="photo" src="/static/{{barcode}}.JPG" onerror="this.src='/static/NoImageAvailable.gif'" style="width:100%"/>
          {{/if}}
        {{/with}}
      {{else}}
        <img title="photo" src="static/{{this}}.JPG" onerror="this.src='/static/NoImageAvailable.gif'" style="width:100%"/>
      {{/if}}
    </div>
  </div>
</template>

<template name="cardoncampus">
  <div class="col-sm-1" style="padding: 0;">
    <div class="miniphoto" id="{{this.barcode}}">
      <div class="phototext">{{this.name}}</div>
      <img title="photo" src="static/{{this.barcode}}.JPG" onerror="this.src='/static/NoImageAvailable.gif'" style="width:100%"/>

    </div>
 </div>
</template>
