<template name="officeStaffMenu">
  <div id="office_staff_menu" class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button noprint">
    <div class="mdl-layout-icon"></div>
    <div style="border:none;" class="mdl-layout__drawer">
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/officeStaff">New Badges</a>
          <a class="mdl-navigation__link" href="/approveBadge">Approve Badges for Entry</a>
          <a class="mdl-navigation__link" href="/expires-badge">Expires a Card</a>
        </nav>
    </div>
  </div>
</template>
